<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mrx.mapper.MessageMapper">
	<!-- 添加站内信息 -->
	<insert id="insert" parameterType="cn.mrx.dto.Message">
		insert into t_message(title, content, datetime, isread, userId) values(#{title}, #{content}, #{datetime}, #{isRead}, #{userId})
	</insert>
	
	<!-- 查询时会否有新消息 -->
	<select id="selectAll" resultType="cn.mrx.dto.Message">
		select * from t_message order by datetime desc
	</select>
	
	<!-- 修改成已读 -->
	<update id="updateIsRead">
		update t_message set isread = 2 where id = #{id}
	</update>
	
	<!-- 删除信息 -->
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from t_message where id = #{id}
	</delete>
</mapper>